{
  "extends": [
    "stylelint-config-sass-guidelines",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "rules": {
    "order/properties-alphabetical-order": null,
    "selector-class-pattern": null,
    "color-named": null
  }
}
